{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="{% static "images/todo.png" %}" type="image/x-icon"/>
	<link rel="stylesheet" href="{% static "css/index.css" %}" type="text/css"/>
    <script src="{% static "JS/dealsearch.js" %}"></script>
    <script src="{% static "JS/jquery.js" %}"></script>
	<title>预约 | ToDo List</title>
    <style type="text/css">
    .popWindow{
        background-color:#ffffff;
        border-radius:3px;
        border:2px solid #075E8B;
        position:fixed;
        width:308px;
        height:220px;
        top:200px;
        left:600px;
        display:none;
        box-shadow:5px 5px 5px #322E2F;
        z-index:999;
    }
    button{
        width:60px;
    }
    </style>

    <style type="text/css">
        ul,li{margin: 0;padding: 0;list-style: none;}
        #tabbox{ overflow:hidden; margin:50px 50px;}
        .tab_conbox{border: 1px solid #999;border-top: none;}
        .tab_con{ display:none;}
        .tabs{height: 32px;border-bottom:1px solid #999;border-left: 1px solid #999;width: 100%;}
        .tabs li{cursor: pointer;width:100px;height:31px;line-height:31px;float:left;border:1px solid #999;border-left:none;margin-bottom: -1px;background: #e0e0e0;overflow: hidden;position: relative;}
        .tabs li a {display: block;padding: 0 20px;border: 1px solid #fff;outline: none;}
        .tabs li a:hover {background: #ccc;}
        .tabs .thistab,.tabs .thistab a:hover{background: #fff;border-bottom: 1px solid #fff;}

        .tab_con {padding:12px;font-size: 14px; line-height:175%;}
    </style>

	<script>
        function showdel(){
            var btn = document.getElementsByClassName('delbtn');
            for(var i=0; i<btn.length; i++){
                btn[i].style.display = 'block';
            }
        }
        function hidedel(){
            var btn = document.getElementsByClassName('delbtn');
            for(var i=0; i<btn.length; i++){
                btn[i].style.display = 'none';
            }
        }
		function showdropdown(){
			var a = document.getElementById('user_drop_down');
			a.style.display = 'block';
		}
		function hidedropdown(){
			var a = document.getElementById('user_drop_down');
			a.style.display = 'none';
		}
        function changetag(){
            var box = document.getElementsByClassName('check');
            for(var i=0; i<box.length; i++){
                if (box[i].checked == true)
                {
                    var f = document.getElementsByClassName('formid');
                    f[i].submit();
                }
            }
        }
        function del(){
            var bts = document.getElementsByClassName('delbtn');
            for(var i=0; i<bts.length; i++){
                if (box[i].checked == true)
                {
                    var f = document.getElementsByClassName('formid2');
                    f[i].submit();
                }
            }
        }

        window.onload = function () {
            var h = document.getElementById('content');
            var s = document.getElementsByClassName('sidebar')[0];
            var h1 = h.style.height;
            s.style.height = h1;
        }

	</script>
</head>




<body>
	<!--顶部-->
	<div id="top">
		<div id="top_bar">

			<div class="l-header">
                <div id="logo2"><a href="/TodayTask/{{ uid }}"><img src="{% static "images/logo2.png" %}" /></a></div>
				<div id="add-task-btn" class="rt" onclick="window.location.href='/AddTask/uid{{ uid }}option1/';"><img src="{% static "images/plus1.png" %}" /></div>
            </div>
            <div class="r-header" >
				<div id="avatar"></div>
            	<div class="username" onclick="showdropdown()" style="cursor:pointer"><div id="name" style="display:inline-block;"><a style="color:white;">欢迎，{{ uname }}</a></div>
				</div>
				<div class="top_bar_drop_down clr" id="user_drop_down" onmouseover="showdropdown()" onmouseout="hidedropdown()">
					<ul>
							<li><a style="cursor:pointer;" href="/UserDetail/{{ uid }}">个人信息</a></li>
							<li><a style="cursor:pointer;">常见问题</a></li>
							<li><a style="cursor:pointer;" href="/logout/{{ uid }}">退出账号</a></li>
						</ul>
					</div>

			</div>
    	</div>
	</div>

	<!--侧边栏-->
    <div class="sidebar">
		<ul>
			<li>
				<h3>收 藏</h3>
				<ul>
					<li onclick="window.location.href='/CollectedTask/{{ uid }}';"><div id="pic0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 收集箱</div></li>
				</ul>
			</li>
			<li>
				<h3>聚 焦</h3>
				<ul>
					<li onclick="window.location.href='/TodayTask/{{ uid }}';"><div id="pic1" class="clr"></div>今日待办&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;({{ len }})</li>
					<li onclick="window.location.href='/ShowMessage/{{ uid }}';"><div id="pic2"></div>消息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;({{ len1 }})</li>
					<li onclick="window.location.href='/Calendar/{{ uid }}';"><div id="pic3"></div>日程</li>
					<li onclick="window.location.href='/maybe/{{ uid }}';"><div id="pic4"></div>将来/也许</li>
					<li style="background-color: #F0F0F0;" onclick="window.location.href='/MainOrder/{{ uid }}';"><div id="pic5"></div>预约</li>
				</ul>
			</li>
			<li>
				<h3>所有情境  <div><a href="/AddSituationpre/{{ uid }}"">+</a></div></h3>
				<ul>
                    {% ifequal flag1 0 %}
                         <li><div id="pic8"></div>无</li>
                    {% else %}
                        {% for situ in result2 %}
                            <li onclick="window.location.href='/SituationTask/uid{{ uid }}sid{{ situ.sid }}/';"><div id="pic8"></div>{{ situ.stitle }}</li>
                        {% endfor %}
                    {% endifequal %}
				</ul>
			</li>
            <li>
				<h3>好 友</h3>
				<ul>
					<li onclick="window.location.href='/SearchUserPre/{{ uid }}';"><div id="pic9"></div>添加好友</li>
					<li onclick="window.location.href='/MyFriendPre/{{ uid }}';"><div id="pic10"></div>我的好友</li>
				</ul>
			</li>
			<li>
				<h3>完 毕</h3>
				<ul>
					<li onclick="window.location.href='/finished/{{ uid }}';"><div id="pic6"></div>已完成</li>
					<li onclick="window.location.href='/deleted/{{ uid }}';"><div id="pic7"></div>垃圾箱</li>
				</ul>
			</li>
		</ul>
	</div>

	<!--主体-->
	<div id="content">
        <div id="tabbox">
            <ul class="tabs" id="tabs">
               <li>我要预约</li>
               <li>预约成功</li>
            </ul>
            <ul class="tab_conbox" id="tab_conbox">
                <li style="display: none;width:1000px;" class="tab_con">
                   <div style="width:1000px;height:500px;">
                       <div style="position: relative;left:-335px;top:20px;font-size: 17px;color: #075E8B;"><span style="font-size: 20px;"><b>Step One:</b></span>&nbsp;&nbsp;&nbsp;请选择您想预约的好友</div>
                       <div id="task" style="height:80%;width: 1000px;height:400px; position: relative;left:30px;top:60px;margin:0;overflow: scroll;">
                            {% for user in friendlist %}
                                <div style="width:90%;">
                                <div class="task-item">
                                    <div class="task-date" style="position: relative;">
                                        {% ifequal user.gender '保密' %}
                                            <div class="genderpic1" style="position: absolute;top:0px;left:20px; "></div><a style="position: absolute;font-size:16px;top:0px;left:40px;" href="/FuserInfo/{{ user.fuid }}/{{ uid }}/">{{user.funame}}</a>
                                        {% endifequal %}
                                        {% ifequal user.gender '男' %}
                                            <div class="genderpic2" style="position: absolute;top:0px;left:20px; "></div><a style="position: absolute;font-size:16px;top:0px;left:40px;" href="/FuserInfo/{{ user.fuid }}/{{ uid }}/">{{user.funame}}</a>
                                        {% endifequal %}
                                        {% ifequal user.gender '女' %}
                                            <div class="genderpic3" style="position: absolute;top:0px;left:20px; "></div><a style="position: absolute;font-size:16px;top:0px;left:40px;" href="/FuserInfo/{{ user.fuid }}/{{ uid }}/">{{user.funame}}</a>
                                        {% endifequal %}
                                    </div>
                                </div>
                                <div style="display:inline-block;float:right;margin-right:20px;position: relative;left:0px;top:-35px;"><button onclick="window.location.href='/SendOrderpre/{{ uid }}/{{ user.fuid }}';">预约TA</button></div>
                            </div>{% endfor %}
                        </div>
                   </div>
                </li>

                <li style="display: none;" class="tab_con">
                    <div style="width:750px;height:500px;">
                        <div>
                            {% ifequal orderlen 0 %}
                                <span style="font-size: 17px;color: #075E8B;position: relative;left:-250px;">您当前没有预约任务.</span>
                            {% else %}
                                <span style="font-size: 17px;color: #075E8B;position: relative;left:-250px;">您当前一共有{{ orderlen }}项预约:</span>
                                <div id="task" style="position: relative;height:400px;top:-60px;overflow-y:scroll; ">
                                    {% for task in ordertask %}
                                        <div class="task-item" style="width:850px;">
                                            <div class="task-date">
                                                {{task.title}}
                                            </div>
                                            <div style="position: relative;">
                                                <input style="position:absolute;left:800px;display: block;" type="button" value="详情" class="delbtn" onclick="popWindowShow('查看预约详情',this,{{ forloop.counter }})"/>

                                                <div class="'popWindow'+{{ forloop.counter }} popWindow" id="popWindow">
                                                    <table style="width:100%;line-height:22px;"cellspacing="0"cellpadding="0">
                                                        <tr style="background-color:#075E8B;">
                                                            <td style="color:white;font-family:bolder;font-size:10pt;"id="titleTd">预约详情</td>
                                                        </tr>
                                                    </table>
                                                    <div><span style="padding-left: 20px;">日期:&nbsp;</span>{{ task.date }}</div>
                                                    <div><span style="padding-left: 20px;">时间段:&nbsp;</span>{{ task.period }}</div>
                                                    <div><span style="padding-left: 20px;">地点:&nbsp;</span>{{ task.location }}</div>
                                                    <div><span style="padding-left: 20px;">合作者:&nbsp;</span>{{ task.couname }}</div>
                                                    <div><span style="padding-left: 20px;">描述:&nbsp;</span>{{ task.desc }}</div>
                                                    <input style="position: relative;left:135px;top:5px;" type="button" value="确定" onclick="popWindowHide({{ forloop.counter }})"/>

                                                </div>

                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endifequal %}
                        </div>

                   </div>
                </li>
            </ul>
        </div>
	</div>



<script type="text/javascript">
$(document).ready(function() {
	jQuery.jqtab = function(tabtit,tab_conbox,shijian) {
		$(tab_conbox).find("li").hide();
		$(tabtit).find("li:first").addClass("thistab").show();
		$(tab_conbox).find("li:first").show();

		$(tabtit).find("li").bind(shijian,function(){
		  $(this).addClass("thistab").siblings("li").removeClass("thistab");
			var activeindex = $(tabtit).find("li").index(this);
			$(tab_conbox).children().eq(activeindex).show().siblings().hide();
			return false;
		});

	};
	/*调用方法如下：*/
	$.jqtab("#tabs","#tab_conbox","click");

	$.jqtab("#tabs2","#tab_conbox2","mouseenter");

});
</script>
<script type="text/javascript">

function popWindowShow(title,obj,i)
{

var popWindow = document.getElementsByClassName("popWindow")[i-1];
var popFrame = document.getElementById("popFrame");
var popWindowBg = document.getElementById("popWindowBg");

document.getElementById("titleTd").innerHTML = title;
popWindow.style.display ="block";

    var o = document.getElementsByClassName("delbtn");
    for (var i=0;i<o.length ;i++)
    {
       j=i+1;

       if(obj==o[i]){
            var aaa = document.getElementById('fuck');
            aaa.value = j;
       }
    }
}
function popWindowHide(i)
{
    var pop = document.getElementsByClassName("popWindow")[i-1];
    pop.style.display ="none";
    document.getElementById("popWindowBg").style.display ="none";

}
</script>
</body>
</html>