{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="{% static "images/todo.png" %}" type="image/x-icon"/>
	<link rel="stylesheet" href="{% static "css/register_login.css" %}" type="text/css"/>
	<title>找回密码 | ToDo List</title>
</head>

<body>
	<!--顶部-->
	<div id="top">
		<div id="top_bar">
			<ul class="rt">
				<li>
					您好！欢迎来到 TO DO LIST ！
					<a href="/login">[登录]</a>
					<a href="/register">[免费注册]</a>
				</li>
			</ul>
    	</div>
	</div>
	<div id="logo">
		<img src="{% static "images/logo1.png" %}"/>
	</div>
	<div id="login">
		<div id="main">
			<div id="inner_form">
                {% ifequal flag 0 %}
                    <p style="color: red; font-size: 14px;"><b>*邮箱不存在*</b></p>
                {% endifequal %}
                {% ifequal flag 1 %}
                    <p style="color: red; font-size: 14px;"><b>*邮件发送成功,请查看您的邮箱找回密码*</b></p>
                {% endifequal %}
				<p id="aboutpwd" style="color: red; font-size: 14px;display:none;">*密码请不要少于6位*</p>
				<form method="post" action="/ResetPwd/" class="holding" id="signin_form">
					{% csrf_token %}
                    <input type="hidden" name="uid" value="{{ uid }}" />
                    <div class="input_box">
	                      <input tabindex="1" required="required" type="text"  disabled placeholder="{{ name }}" class="form_input"/>
                  	</div>
                    <div class="input_box">
	                      <input tabindex="2" required="required" type="text"  disabled placeholder="{{ email }}" class="form_input"/>
                  	</div>
                    <div class="input_box">
	                      <input tabindex="3" onblur="aaa()" id="resetedpwd" required="required" type="text" name="pwd" placeholder="请输入重置密码" class="form_input"/>
		
					</div>
                  	<div>
                        <input id="confirm" type="submit" value="确定" />
                    </div>
				</form>
			</div>
		</div>
	</div>
	<script>
		function aaa(){
			var pwd = document.getElementById('resetedpwd');
			var btn = document.getElementById('confirm');
			var p = document.getElementById('aboutpwd');
			if (pwd.value.length < 6)
			{
				btn.disabled = true;
				p.style.display = 'block';
			}
			else
			{
				btn.disabled = false;
				p.style.display = 'none';
			}
		}
	</script>
	
	<div id="footer">
		<br/>
		<p class="copy">
		 	<a href="http://doitim.com/about_us">关于我们</a> |
            <a href="http://doitim.com/about_us">联系我们</a> |
            <a href="http://doitim.com/about_us">广告服务</a> |
            <a href="http://doitim.com/terms">服务条款</a> |
            <a href="http://doitim.com/privacy">隐私政策</a>
        </p><br/>
		哈尔滨工业大学&nbsp;&nbsp;哈尔滨市南岗区西大直街92号&nbsp;&nbsp;邮编 150006<br/><br/>
		Copyright © 2015 Xiao Qing &amp; ShuangWei Shi &amp; JiHao Shi 版权所有 <br/><br/>
	</div>
</body>
</html>