{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="{% static "images/todo.png" %}" type="image/x-icon"/>
	<link rel="stylesheet" href="{% static "css/index.css" %}" type="text/css"/>
	<title>今日待办 | ToDo List</title>

	<script>
        function showdel(){
            var btn = document.getElementsByClassName('delbtn');
            for(var i=0; i<btn.length; i++){
                btn[i].style.display = 'block';
            }
        }
        function hidedel(){
            var btn = document.getElementsByClassName('delbtn');
            for(var i=0; i<btn.length; i++){
                btn[i].style.display = 'none';
            }
        }
		function showdropdown(){
			var a = document.getElementById('user_drop_down');
			a.style.display = 'block';
		}
		function hidedropdown(){
			var a = document.getElementById('user_drop_down');
			a.style.display = 'none';
		}
        function changetag(){
            var box = document.getElementsByClassName('check');
            for(var i=0; i<box.length; i++){
                if (box[i].checked == true)
                {
                    var f = document.getElementsByClassName('formid');
                    f[i].submit();
                }
            }
        }
        function del(){
            var bts = document.getElementsByClassName('delbtn');
            for(var i=0; i<bts.length; i++){
                if (box[i].checked == true)
                {
                    var f = document.getElementsByClassName('formid2');
                    f[i].submit();
                }
            }
        }

        window.onload = function () {
            var h = document.getElementById('content');
            var s = document.getElementsByClassName('sidebar')[0];
            var h1 = h.style.height;
            s.style.height = h1;
        }

	</script>
</head>




<body>
	<!--顶部-->
	<div id="top">
		<div id="top_bar">

			<div class="l-header">
                <div id="logo2"><a href="/TodayTask/{{ uid }}"><img src="{% static "images/logo2.png" %}" /></a></div>
				<div id="add-task-btn" class="rt" onclick="window.location.href='/AddTask/uid{{ uid }}option1/';"><img src="{% static "images/plus1.png" %}" /></div>
            </div>
            <div class="r-header" >
				<div id="avatar"></div>
            	<div class="username" onclick="showdropdown()" style="cursor:pointer"><div id="name" style="display:inline-block;"><a style="color:white;">欢迎，{{ uname }}</a></div>
				</div>
				<div class="top_bar_drop_down clr" id="user_drop_down" onmouseover="showdropdown()" onmouseout="hidedropdown()">
					<ul>
							<li><a style="cursor:pointer;" href="/UserDetail/{{ uid }}">个人信息</a></li>
							<li><a style="cursor:pointer;">常见问题</a></li>
							<li><a style="cursor:pointer;" href="/logout/{{ uid }}">退出账号</a></li>
						</ul>
					</div>

			</div>
    	</div>
	</div>

	<!--侧边栏-->
	<div class="sidebar">
		<ul>
			<li>
				<h3>收 藏</h3>
				<ul>
					<li onclick="window.location.href='/CollectedTask/{{ uid }}';"><div id="pic0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 收集箱</div></li>
				</ul>
			</li>
			<li>
				<h3>聚 焦</h3>
				<ul>
					<li onclick="window.location.href='/TodayTask/{{ uid }}';"><div id="pic1" class="clr"></div>今日待办&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;({{ len }})</li>
					<li onclick="window.location.href='/curriculum/{{ uid }}';"><div id="pic2"></div>消息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;({{ len1 }})</li>
					<li onclick="window.location.href='/Calendar/{{ uid }}';"><div id="pic3"></div>日程</li>
					<li onclick="window.location.href='/maybe/{{ uid }}';"><div id="pic4"></div>将来/也许</li>
					<li onclick="window.location.href='/appointment/{{ uid }}';"><div id="pic5"></div>预约</li>
				</ul>
			</li>
			<li>
				<h3>所有情境  <div><a href="/AddSituationpre/{{ uid }}">+</a></div></h3>
				<ul>
                    {% ifequal flag1 0 %}
                         <li><div id="pic8"></div>无</li>
                    {% else %}
                        {% for situ in result2 %}
                            <li onclick="window.location.href='/SituationTask/uid{{ uid }}sid{{ situ.sid }}/';"><div id="pic8"></div>{{ situ.stitle }}</li>
                        {% endfor %}
                    {% endifequal %}
				</ul>
			</li>
            <li>
				<h3>好 友</h3>
				<ul>
					<li style="background-color: #F0F0F0;"  onclick="window.location.href='/SearchUserPre/{{ uid }}';"><div id="pic9"></div>添加好友</li>
					<li onclick="window.location.href='/MyFriendPre/{{ uid }}';"><div id="pic10"></div>我的好友</li>
				</ul>
			</li>
			<li>
				<h3>完 毕</h3>
				<ul>
					<li onclick="window.location.href='/finished/{{ uid }}';"><div id="pic6"></div>已完成</li>
					<li onclick="window.location.href='/deleted/{{ uid }}';"><div id="pic7"></div>垃圾箱</li>
				</ul>
			</li>
		</ul>
	</div>

	<!--主体-->
	<div id="content">
		<div id="search">
			<form method="post" action="/SearchUser/">
                {% csrf_token %}
                <input type="hidden" name="uid" value="{{ uid }}" />
				<input type="text" name="keyword" placeholder="搜索用户" class="input-box"/>
				<input type="submit" value="" class="search-btn"/>
			</form>
		</div>


	</div>
</body>
</html>